/*<!--Requirements:
Using HTML 5, CSS, and JavaScript (no other languages):
1. Create an HTML form with the following form controls:
a. text input field with a name and id value of: “firstName” (required)
i. When you submit the form: enter your first name here
b. text input field with a name and id value of: “lastName” (required)
i. When you submit the form: enter your last name here
c. text input field with a name and id of: “facilitator” (required)

d. a group of radio buttons with your choice of options
e. a group of check boxes with your choice of values
f. Style the page with CSS using an external style sheet.
g. The form action should point to http://bucs601.com/submit.php
using the POST method.
2. Use HTML and JavaScript to perform client-side validation based on the
following specifications:
a. Validate both firstName and lastName to ensure:
i. a minimum length of two (2) characters
ii. that only alpha characters are used (A-Z and a-z)
b. Validate facilitator and constrain the possible valid values to
be those of the active facilitators for the course during this
semester. For example, if we have facilitators with the following first
names: “Laura”, “Fazil”, and “Harsh”, you would ensure that only
these values would pass validation
i. Laura OR Fazil OR Harsh
c. facilitator is a text input, don’t change this into a select or any
other type of input.
d. The form should not be permitted to submit unless all fields pass
validation.
When you submit your form, you will be taken to a page and you will be able to
see if your form submission went through successfully or if there was a problem
that needs to be fixed first. The first three field values (firstName, lastName,
and facilitator) that you enter will be recorded in a database-->*/
h2 {
  color: black;
  font-size: 3.3em;
  margin: 20px 0 0 0;
}

th {
  color: blue;
}
a {
  color: black;
  font-size: 15pt;
}
:link {
  color: red;
}
:visited {
  color: black;
}
:hover {
  color: black;
}
:active {
  color: blue;
}
img {
  width: 20%;
  height: auto;
  background-size: cover;
  border: 1px solid black;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 50%;
  display: block;
}
i {
  display: inline;
}
body {
  color: black;
  width: 100%;
  height: 100%;
  margin: 2em;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: lightblue;
}
.id {
  color: #9ac6e7;
}
p {
  color: black;

  margin: auto;
  width: 300px;
}
.dotted {
  outline-style: groove;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
label {
  font-size: larger;
  text-align: center;
}
div {
  padding: 10px 0;
  margin: 10px 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}
.credits {
  font-family: "Courier New", Courier, monospace;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  list-style-type: none;
  font-size: 16pt;
}
.mail {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
  background: #d8f1f8;
  border: 1px solid silver;
}
.mail h2 {
  margin-left: 38px;
}
input {
  font-size: 20pt;
}
textarea:focus {
  background-color: lightyellow;
}
input submit {
  font-size: 12pt;
}
.rq {
  color: #ff0000;
  font-size: 10pt;
}
@media all and (max-width: 600px) {
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
@media (min-width: 600px) {
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
